{% extends "wp_layout.html.twig" %}

{% block header %}

<a class="brand" href="/" >
    <img alt="MCC Philly Festival Logo" src="http://www.mccphillyfestival.org/wp-content/uploads/mcc-philly-festival-logo.png?9d7bd4">
</a>

{% endblock %}

{% block content %}
    <style>
        #allItemsTable {
            background-color: #666666;
        }
        #allItemsTable tr {
            border-top: 1px solid #333333;
        }
        #allItemsTable th, #allItemsTable td {
            padding: 2px 5px;
        }
        #allItemsTable th {
            white-space:nowrap;
            color: #9999ff;
            cursor: pointer;
        }
        #allItemsTable th:hover {
            color: #3333ff;
        }
    </style>
    <h1>{{ pageTitle }}</h1>
    <div id="category_filter" style="float: left; padding-right:10px"></div>
    <table id="allItemsTable">
        <thead>
            <tr>
                <th>Title &#8593;&#8595;</th>
                <th>Order &#8593;&#8595;</th>
                <th>Description &#8593;&#8595;</th>
                <th>Category &#8593;&#8595;</th>
                <th>Image</th>
                <th>Donor &#8593;&#8595;</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.item_order_number }}</td>
                <td>{{ item.description|auto_link_text|nl2br }}</td>
                <td>{{ item.category_name }}</td>
                <td>
                {% if item.image_url %}
                    <a href="{{ item.large_image_url }}">
                        <img src="{{ item.image_url }}" style="float:left; max-width: 100px; max-height: 100px; margin-right: 20px" />
                    </a>
                {% endif %}
                </td>
                <td>{{ item.donor_display_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block customJS %}
<script>
$( document ).ready(function() {
    var dTable = $('#allItemsTable').dataTable({
        "sDom": "<fil>t",
        "bPaginate": false,
    });

    fnCreateFilter(dTable, 'category_filter', 3, {'name': 'Filter By Category', 'filterType': 'select' });
});

</script>
{% endblock %}