<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Auction Manager {% block title %}{{ pageTitle }}{% endblock %}</title>
        {% endblock %}
        
        {% block headStyles %}
            <link rel="stylesheet" href="{{ webRoot }}css/AuctionManager.css" />
            <link rel="stylesheet" href="{{ webRoot }}bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="{{ webRoot }}bootstrap/css/bootstrap-responsive.css" />
            <link rel="stylesheet" href="{{ webRoot }}DataTables/css/DT_bootstrap.css" />
            <link rel="stylesheet" href="{{ webRoot }}TableTools/css/TableTools.css" />
        {% endblock %}
        
        {% block headCustom %}{% endblock %}
        
    </head>
    <body>
        <div class="container">
        {% block header %}
            <div style="margin-top: 5px; margin-bottom: 10px">
            <a class="brand" href="/" >
                <img alt="MCC Philly Festival Logo" src="http://www.mccphillyfestival.org/wp-content/uploads/mcc-philly-festival-logo.png?9d7bd4">
            </a>
            </div>
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ webRoot }}">DB Home</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" onclick="
                                if(window.location == '{{ webRoot }}register#/model/contact') {
                                    window.location.reload();
                                } else { 
                                    window.location = '{{ webRoot }}register#/model/contact'
                                } return false;">
                            Register</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="#" onclick="
                                if(window.location == '{{ webRoot }}checkout#/model/bidder') {
                                    window.location.reload();
                                } else { 
                                    window.location = '{{ webRoot }}checkout#/model/bidder'
                                } return false;">
                            Checkout</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ webRoot }}entry/purchase#model/purchase">Bids/Purchases</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ webRoot }}entry/contact#model/contact">Contacts</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ webRoot }}entry/item#model/item">Items</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ webRoot }}entry/category#model/category">Categories</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ webRoot }}entry/affiliation#model/affiliation">Affiliations</a></li>
                        <li class="divider-vertical"></li>
                        <!--  li><a href="{{ webRoot }}entry/auction_block#model/auction_block">Auction Blocks</a></li>
                        <li class="divider-vertical"></li -->
                        {% if user %}
                            <li><a href="{{ webRoot }}logout">Logout</a></li>
                        {% else %}
                            <li><a href="{{ webRoot }}login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
        <div id="content">{% block content %}
            <h1>MCC Philly Auction Festival Database Home</h1>
            
            <p>Use this site to enter all data related to the MCC Philly auction items and contacts</p>
            
            <p>So I am going to be making changes and approvements along the way, and there may be quite a few problems with this site.
            If you get stuck, the best bet is to reload the page. 
            If you have any comments or questions or suggestions let Reuben know: (215-514-6031)
            or  <a href="mailto:jreubenwetherbee@gmail.com">jreubenwetherbee@gmail.com</a></p>
            
            <p>Things Coming but not yet done:
                <ul>
                    <li>Way better way to set up Auction Time Blocks and assign Items to particular Blocks and then order them within the blocks</li>
                    <li>Bidder Registration</li>
                    <li>Checkout</li>
                    <li>Some Reports</li>
                    <li>Way to Cancel adding a new related model</li>
                    <li>Way to distinguish between test and real site</li>
                </ul>
        {% endblock %}</div>
        </div>
        {% block mainJS %}
        <script src="{{ webRoot }}js/jquery-1.10.1.min.js"></script>
        <script src="{{ webRoot }}js/underscore-min.js"></script>
        <script src="{{ webRoot }}js/backbone-min.js"></script>
        <script src="{{ webRoot }}js/backbone-relational.js"></script>
        <script src="{{ webRoot }}js/backbone-scaffold.js"></script>
        <script src="{{ webRoot }}js/jquery.sortable.js"></script>
        <script src="{{ webRoot }}DataTables/js/jquery.dataTables.js"></script>
        <script src="{{ webRoot }}TableTools/js/ZeroClipboard.js"></script>
        <script src="{{ webRoot }}TableTools/js/TableTools.min.js"></script>
        <script src="{{ webRoot }}bootstrap/js/bootstrap.js"></script>
        {% endblock %}
        
        {% block customJS %}{% endblock %}
    </body>
</html>