<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Auction Manager {% block title %}{{ pageTitle }}{% endblock %}</title>
        {% endblock %}
        
        {% block headStyles %}
            <link rel="stylesheet" href="css/AuctionManager.css" />
        {% endblock %}
        
        {% block headCustom %}{% endblock %}
        
    </head>
    <body>
        <nav id="heaver_nav">
        {% block header %}
            <ul>
                <li><a href="{{ webRoot }}">DB Home</a></li>
                <li><a href="{{ webRoot }}category">Category</a></li>
                <li><a href="{{ webRoot }}item">Items</a></li>
            </ul>
        {% endblock %}
        </nav>
        <h1>{{ pageTitle }}</h1>
        <div id="content">{% block content %}
        <h1>Welcome to Auction Manager</h1>
{% endblock %}</div>
        
        {% block mainJS %}
        <script src="js/jquery-1.10.1.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        {% endblock %}
        
        {% block customJS %}{% endblock %}
    </body>
</html>