{% extends "layout.html.twig" %}



{% block content %}
    <h1>{{ pageTitle }}</h1>
    <table id="reportTable" class="table table-striped">
        <thead>
            <tr>
                {% for action_link_columns in action_link_columns %}
                <th>&#160</th>
                {% endfor %}
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
            
                {% for action_link_column in action_link_columns %}
                <td class="action_link_column"><a href="{{ row[action_link_column]['url']}}">{{ row[action_link_column]['label'] }}</a></td>
                {% endfor %}
                
                {% for column in columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            {%  for column in columns %}
                <th></th>
            {% endfor %}
        </tfoot>
    </table>
{% endblock %}

{% block customJS %}
<script>
$( document ).ready(function() {
    var dTable = $('#reportTable').dataTable({
        "sDom": "<filT>t",
        "bPaginate": false,
        "oTableTools": {
            "sSwfPath": "{{ webRoot }}/TableTools/swf/copy_csv_xls_pdf.swf",
            "aButtons": ["copy", "csv", "pdf"]
        },
    });

});

</script>
{% endblock %}