<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" prefix="og: http://ogp.me/ns#">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


<link rel="stylesheet" href="http://www.mccphillyfestival.org/wp-content/themes/wp/style.css?0d27fd" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="MCC Philly Festival RSS Feed" href="http://www.mccphillyfestival.org/feed/" />
<link rel="alternate" type="application/atom+xml" title="MCC Philly Festival Atom Feed" href="http://www.mccphillyfestival.org/feed/atom/" />
<link rel="pingback" href="http://www.mccphillyfestival.org/xmlrpc.php" />

<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/css/ie6style.css?0d27fd" />
	<script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/DD_belatedPNG_0.0.8a-min.js?0d27fd"></script>
	<script type="text/javascript">DD_belatedPNG.fix('img#logo, #search-form, #featured, span.date, .footer-widget ul li, span.overlay, a.readmore, a.readmore span, #recent-posts a#left-arrow, #recent-posts a#right-arrow, h4#recent, div#breadcrumbs, #sidebar h4');</script>
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/css/ie7style.css?0d27fd" />
<![endif]-->
<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/css/ie8style.css?0d27fd" />
<![endif]-->

<script type="text/javascript">
	document.documentElement.className = 'js';
</script>


<!-- This site is optimized with the Yoast WordPress SEO plugin v1.4.18 - http://yoast.com/wordpress/seo/ -->
<title>{{ pageTitle }} - MCC Philly Festival</title>
<link rel="canonical" href="http://www.mccphillyfestival.org" />
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Items - MCC Philly Festival"/>
<meta property="og:description" content="items page"/>
<meta property="og:url" content="http://www.mccphillyfestival.org/test-page/"/>
<meta property="og:site_name" content="MCC Philly Festival"/>
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="MCC Philly Festival &raquo; Feed" href="http://www.mccphillyfestival.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="MCC Philly Festival &raquo; Comments Feed" href="http://www.mccphillyfestival.org/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="MCC Philly Festival &raquo; Test Page Comments Feed" href="http://www.mccphillyfestival.org/test-page/feed/" />
<meta content="MCC Philly Festival v." name="generator"/>
	<style type="text/css">
		body { color: #; }
		#bg { background-color: #; }
		.post a:link, .post a:visited { color: #00c0eb; }
		ul#primary li a { color: #; }
		ul#secondary li a { color: #; }
		#sidebar h4 { color:#; }
		.footer-widget h4.widgettitle { color:#; }
		#footer a { color:#; }
	</style>

<link rel='stylesheet' id='mailchimpSF_main_css-css'  href='http://www.mccphillyfestival.org/?mcsf_action=main_css&#038;ver=3.6.1' type='text/css' media='all' />
<!--[if IE]>
<link rel='stylesheet' id='mailchimpSF_ie_css-css'  href="http://www.mccphillyfestival.org/wp-content/plugins/mailchimp/css/ie.css?0d27fd" type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='et_responsive-css'  href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/css/responsive.css?0d27fd" type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-css-css'  href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/shortcodes/css/shortcodes.css?0d27fd" type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/shortcodes/css/shortcodes_responsive.css?0d27fd" type='text/css' media='all' />
<link rel='stylesheet' id='photonic-slideshow-css'  href="http://www.mccphillyfestival.org/wp-content/plugins/photonic/include/scripts/fancybox/jquery.fancybox-1.3.4.css?0d27fd" type='text/css' media='all' />
<link rel='stylesheet' id='photonic-css'  href="http://www.mccphillyfestival.org/wp-content/plugins/photonic/include/css/photonic.css?0d27fd" type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css'  href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.css?0d27fd" type='text/css' media='screen' />
<link rel='stylesheet' id='et_page_templates-css'  href="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/page_templates/page_templates.css?0d27fd" type='text/css' media='screen' />
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-includes/js/jquery/jquery.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-includes/js/jquery/jquery-migrate.min.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/plugins/mailchimp/js/scrollTo.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-includes/js/jquery/jquery.form.min.js?0d27fd"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mailchimpSF = {"ajax_url":"http:\/\/www.mccphillyfestival.org\/"};
/* ]]> */
</script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/plugins/mailchimp/js/mailchimp.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-includes/js/comment-reply.min.js?0d27fd"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var Photonic_JS = {"ajaxurl":"http:\/\/www.mccphillyfestival.org\/wp-admin\/admin-ajax.php","fbox_show_title":"1","fbox_title_position":"inside","flickr_collection_set_title_display":"tooltip","flickr_gallery_title_display":"tooltip","flickr_photo_title_display":"tooltip","picasa_photo_title_display":"tooltip","picasa_photo_pop_title_display":"tooltip","wp_thumbnail_title_display":"tooltip","Dpx_photo_title_display":"tooltip","smug_photo_title_display":"tooltip","smug_photo_pop_title_display":"tooltip","smug_albums_album_title_display":"tooltip","instagram_photo_title_display":"tooltip","instagram_user_title_display":"tooltip","zenfolio_photo_title_display":"tooltip","zenfolio_set_title_display":"tooltip","slideshow_library":"fancybox","slideshow_mode":"","slideshow_interval":"5000","pphoto_theme":"pp_default","gallery_panel_width":"800","gallery_panel_items":"20"};
/* ]]> */
</script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/plugins/photonic/include/scripts/photonic.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/plugins/photonic/include/scripts/jquery.cycle.all.min.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/plugins/photonic/include/scripts/jquery.fancybox-1.3.4.pack.js?0d27fd"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.mccphillyfestival.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.mccphillyfestival.org/wp-includes/wlwmanifest.xml" /> 

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />		<style type="text/css">
				</style>
	<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #f9f9f9; }
</style>
<style type="text/css">
.photonic-pad-photosets { margin: 15px; }
.photonic-pad-galleries { margin: 15px; }
.photonic-flickr-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-picasa-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-picasa-stream img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-panel .photonic-picasa-image img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-500px-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-500px-stream img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-zenfolio-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-zenfolio-stream .photonic-pad-photosets { margin: 0 15px; }
.photonic-zenfolio-photo img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-zenfolio-set-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-instagram-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-instagram-photo img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-instagram-stream .photonic-pad-users { margin: 0 15px; }
.photonic-instagram-user img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-pad-albums { margin: 15px; }
.photonic-smug-stream .photonic-pad-photos { margin: 0 15px; }
.photonic-smug-stream img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-panel .photonic-smug-image img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-panel { background:  rgb(17,17,17) ;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
 }
.photonic-panel .photonic-flickr-image img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-flickr-panel .photonic-pad-photos { margin: 0 15px; }
.photonic-picasa-panel .photonic-pad-photos { margin: 0 15px; }
.photonic-smug-panel .photonic-pad-photos { margin: 0 15px; }
.photonic-flickr-coll-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-flickr-set .photonic-flickr-set-solo-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-flickr-set-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-flickr-set-pop-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-flickr-gallery-pop-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }
.photonic-smug-album-thumb img { 	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 }

</style>
	<style type="text/css">
		div.pp_default .pp_content_container .pp_details { color: #666; }
	</style>

</head>
<body class="page page-id-211 page-template page-template-page-full-php custom-background chrome et_fullwidth_view">
	<div id="top">
		<div class="container">
			<div id="header">
				<a href="http://www.mccphillyfestival.org/">
										<img src="http://www.mccphillyfestival.org/wp-content/uploads/mcc-philly-festival-logo.png?0d27fd" alt="MCC Philly Festival" id="logo"/>
				</a>
				<div id="menu" class="clearfix">
					<ul id="primary" class="nav"><li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-15"><a href="http://www.mccphillyfestival.org">Home</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://www.mccphillyfestival.org/about-philly-festival-auction/">About the Festival</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://www.mccphillyfestival.org/festival-day/">Festival Day</a></li>
<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-133 current_page_item menu-item-has-children menu-item-135"><a href="http://www.mccphillyfestival.org/live-auction/">Auction Items</a>
<ul class="sub-menu">
    <li id="menu-item-267" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-267"><a href="http://www.mccauctiondb.elvenhome.org/allItems/1">All Items</a></li>
    <li id="menu-item-268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-268"><a href="http://www.mccauctiondb.elvenhome.org/featuredItems/1">Featured Items</a></li>
    <li id="menu-item-267" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-267"><a href="http://www.mccauctiondb.elvenhome.org/allItems/1/Live+Auction">Live Auction</a></li>
    <li id="menu-item-269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-267"><a href="http://www.mccauctiondb.elvenhome.org/allItems/1/Shared+Experiences">Shared Experiences</a></li>
</ul>
</li><li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://www.mccphillyfestival.org/frequently-asked-questions/">FAQs</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://www.mccphillyfestival.org/history/">History</a></li>
<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="http://www.mccphillyfestival.org/get-involved/">Get Involved</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://www.mccphillyfestival.org/contact/">Contact</a></li>
</ul>
					<div id="search-form">
						<form method="get" id="searchform" action="http://www.mccphillyfestival.org/">
							<input type="text" value="search this site..." name="s" id="searchinput" />

							<input type="image" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/images/search-btn.png?0d27fd" id="searchsubmit" />
						</form>
					</div> <!-- end #search-form -->

					<a href="#" id="mobile_nav" class="closed">Navigation Menu<span></span></a>				</div> <!-- end #menu -->
			</div> <!-- end #header -->
		</div> <!-- end .container -->
	</div> <!-- end #top -->
<div id="content-full">
	<div id="hr">
		<div id="hr-center">
			<div id="intro">
				<div class="center-highlight">

					<div class="container">

						<div id="breadcrumbs">

					<a href="http://www.mccphillyfestival.org/">Home</a> <span class="raquo">&raquo;</span>

									Test Page - MCC Philly Festival					
</div> <!-- end #breadcrumbs -->
					</div> <!-- end .container -->
				</div> <!-- end .center-highlight -->
			</div>	<!-- end #intro -->
		</div> <!-- end #hr-center -->
	</div> <!-- end #hr -->

	<div class="center-highlight">
		<div class="container">

			<div id="full" class="clearfix">


																<div class="entry clearfix post full">

{% block content %}
            <h1>MCC Philly Auction Festival Database Home</h1>
 
        {% endblock %}</div> <!-- end .entry -->
										
					
			</div> <!-- end #content-area -->

		</div> <!-- end .container -->

						<div id="footer">
					<div id="footer-wrapper">
						<div id="footer-center">
							<div class="container">
																	<div id="footer-widgets" class="clearfix">
										 
																			</div> <!-- end #footer-widgets -->	
															
								<p id="copyright"><a href="http://wellspringwebstudio.com" target="_blank">Powered by Wellspring Web Studio, LLC</a></p>
							</div> <!-- end .container -->
						</div> <!-- end #footer-center -->
					</div> <!-- end #footer-wrapper -->
				</div> <!-- end #footer -->

			</div> <!-- end .center-highlight -->

	</div> <!-- end #content-full -->
		
	
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
   <script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/jquery.cycle.all.min.js?0d27fd"></script>
   <script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/jquery.easing.1.3.js?0d27fd"></script>
   <script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/superfish.js?0d27fd"></script>
   <script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/scrollTo.js?0d27fd"></script>
   <script type="text/javascript" src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/serialScroll.js?0d27fd"></script>

   <script type="text/javascript">
   //<![CDATA[
      jQuery.noConflict();

      jQuery('ul.nav').superfish({
         delay:       300,                            // one second delay on mouseout
         animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation
         speed:       'fast',                          // faster animation speed
         autoArrows:  true,                           // disable generation of arrow mark-up
         dropShadows: false                            // disable drop shadows
      });

      jQuery('ul.nav > li > a.sf-with-ul').parent('li').addClass('sf-ul');

      et_search_bar();

      if (jQuery('#blog').length) {
         jQuery('#blog').serialScroll({
            target:'.recentscroll',
            items:'li', // Selector to the items ( relative to the matched elements, '#sections' in this case )
            prev:'#controllers2 a#cright-arrow',// Selector to the 'prev' button (absolute!, meaning it's relative to the document)
            next:'#controllers2 a#cleft-arrow',// Selector to the 'next' button (absolute too)
            axis:'y',// The default is 'y' scroll on both ways
            duration:200,// Length of the animation (if you scroll 2 axes and use queue, then each axis take half this time)
            force:true // Force a scroll to the element specified by 'start' (some browsers don't reset on refreshes)
         });
      }

      var $portfolioItem = jQuery('.item');
      $portfolioItem.find('.item-image').css('background-color','#000000');
      jQuery('.zoom-icon, .more-icon').css('opacity','0');

      $portfolioItem.hover(function(){
         jQuery(this).find('.item-image').stop(true, true).animate({top: -10}, 500).find('img.portfolio').stop(true, true).animate({opacity: 0.7},500);
         jQuery(this).find('.zoom-icon').stop(true, true).animate({opacity: 1, left: 43},400);
         jQuery(this).find('.more-icon').stop(true, true).animate({opacity: 1, left: 110},400);
      }, function(){
         jQuery(this).find('.zoom-icon').stop(true, true).animate({opacity: 0, left: 31},400);
         jQuery(this).find('.more-icon').stop(true, true).animate({opacity: 0, left: 128},400);
         jQuery(this).find('.item-image').stop(true, true).animate({top: 0}, 500).find('img.portfolio').stop(true, true).animate({opacity: 1},500);
      });

      
      function et_cycle_integration(){
         var $featured = jQuery('#featured'),
            $featured_content = jQuery('#slides'),
            $controller = jQuery('#controllers'),
            $slider_control_tab = $controller.find('a.switch');

         if ($featured_content.length) {
            jQuery('div.slide .description').css({'visibility':'hidden','opacity':'0'});

         $featured_content.css( 'backgroundImage', 'none' );
         if ( $featured_content.find('.slide').length == 1 ){
            $featured_content.find('.slide').css({'position':'absolute','top':'0','left':'0'}).show();
            jQuery('#controllers-wrapper').hide();
         }

            $featured_content.cycle({
               fx: 'fade',
               timeout: 0,
               speed: 700,
               cleartypeNoBg: true
            });

         var et_leftMargin = parseFloat( $featured.width()- $featured.find('#controllers-wrapper').outerWidth(true)) / 2;
         $featured.find('#controllers-wrapper').css({'left' : et_leftMargin});

            var pause_scroll = false;

         jQuery('#featured .slide').hover(function(){
            jQuery('div.slide:visible .description').css('visibility','visible').stop().animate({opacity: 1, top:43},500);
            pause_scroll = true;
         },function(){
            jQuery('div.slide:visible .description').stop().animate({opacity: 0, top:33},500,function(){
              jQuery(this).css('visibility','hidden');
            });
            pause_scroll = false;
         });
         };

         $slider_control_tab.hover(function(){
            jQuery(this).find('img').stop().animate({opacity: 1},300);
         }).mouseleave(function(){
            if (!jQuery(this).hasClass("active")) jQuery(this).find('img').stop().animate({opacity: 0.7},300);
         });


         var ordernum;

         function gonext(this_element){
            $controller.find("a.active").removeClass('active');

            this_element.addClass('active');

            ordernum = this_element.attr("rel");
            $featured_content.cycle(ordernum-1);

            //SjQuery('div.slide:visible .description').stop().animate({opacity: 0, top:33},500);

            if (typeof interval != 'undefined') {
               clearInterval(interval);
               auto_rotate();
            };
         }

         $slider_control_tab.click(function(){
            gonext(jQuery(this));
            return false;
         });


         var $nextArrow = $featured.find('a#right-arrow'),
            $prevArrow = $featured.find('a#left-arrow');

         $nextArrow.click(function(){
            var activeSlide = $controller.find('a.active').attr("rel"),
               $nextSlide = $controller.find('a.switch:eq('+ activeSlide +')');

            if ($nextSlide.length) gonext($nextSlide)
            else gonext($controller.find('a.switch:eq(0)'));

            return false;
         });

         $prevArrow.click(function(){
            var activeSlide = $controller.find('a.active').attr("rel")-2,
               $nextSlide = $controller.find('a.switch:eq('+ activeSlide +')');

            if ($nextSlide.length) gonext($nextSlide);
            else {
               var slidesNum = $slider_control_tab.length - 1;
               gonext($controller.find('a.switch:eq('+ slidesNum +')'));
            };

            return false;
         });


         
            auto_rotate();

            function auto_rotate(){

               interval = setInterval(function() {
                  if (!pause_scroll) $nextArrow.click();
               }, 5000);
            }

         
      };


      <!---- Search Bar Improvements ---->
      function et_search_bar(){
         var $searchform = jQuery('#menu div#search-form'),
            $searchinput = $searchform.find("input#searchinput"),
            searchvalue = $searchinput.val();

         $searchinput.focus(function(){
            if (jQuery(this).val() === searchvalue) jQuery(this).val("");
         }).blur(function(){
            if (jQuery(this).val() === "") jQuery(this).val(searchvalue);
         });
      };

      var $footer_widget = jQuery("#footer .widget");

      if ($footer_widget.length) {
         $footer_widget.each(function (index, domEle) {
            // domEle == this
            if ((index+1)%3 == 0) jQuery(domEle).addClass("last").after("<div class='clear'></div>");
         });
      };

      jQuery(window).load(function(){
         var $single_gallery_thumb = jQuery('.gallery-thumb');
         
         if ($single_gallery_thumb.length) {
           var single_gallery_thumb = $single_gallery_thumb.width(),
             offset = single_gallery_thumb-434;

           if ( offset < 0 ) {
             jQuery('.gallery-thumb-bottom').css({'width':'auto','padding':'0 '+(single_gallery_thumb / 2)+'px'});

           }
           else jQuery('.gallery-thumb-bottom').css('width',offset);
         }
      });
   //]]>
   </script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26809116-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/jquery.flexslider-min.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/js/et_flexslider.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/page_templates/js/fancybox/jquery.easing-1.3.pack.js?0d27fd"></script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.pack.js?0d27fd"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var et_ptemplates_strings = {"captcha":"Captcha","fill":"Fill","field":"field","invalid":"Invalid email"};
/* ]]> */
</script>
<script type='text/javascript' src="http://www.mccphillyfestival.org/wp-content/themes/DeepFocus/epanel/page_templates/js/et-ptemplates-frontend.js?0d27fd"></script>

{% block mainJS %}
<script src="{{ webRoot }}js/jquery-1.10.1.min.js"></script>
<script src="{{ webRoot }}DataTables/js/jquery.dataTables.js"></script>
<script src="{{ webRoot }}DataTables/js/jquery.dataTablesExtra.js"></script>
<script src="{{ webRoot }}TableTools/js/ZeroClipboard.js"></script>
<script src="{{ webRoot }}TableTools/js/TableTools.min.js"></script>
{% endblock %}

{% block customJS %}
{% endblock %}
</body>
</html>
        
        